.home-navigator {
  position: fixed;
  z-index: 1200;
  font-size: 1.5rem;
  padding: 0.5rem;
  color:#777;
  opacity: 0;
}

.home-navigator:hover {
  opacity: 1;
}

.home-navigator a {
  text-decoration: none;
}

body {
  margin: 0;
}