
.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
  }
  
  .modal-content {
    background-color: black;
    color: white;
    width: 80vw;
    height: 80vh;
    padding: 1rem;
    border-radius: 2rem;
  }
  
  .modal button {
    color: white;
    border: 0px;
    background-color: black;
    z-index: 1000000;
  }
  
  #current-img {
    height: auto;
    width: 100%;
    margin: 0px auto;
    display: block;
  }
  
  .modal-content {
    overflow: hidden;
  }
  
  .frame {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-selector {
    position: absolute;
    width: 80%;
    height: 80px;
    z-index: 100000;
    background-color: white;
    bottom: 5%;
    left: 10%;
    border-radius: 18px;
    padding: 18px;
    opacity: 0.05;
    transition: all 0.3s ease;
    display: flex;
    overflow-x: auto;
  }
  
  .img-selector:hover {
    opacity: 1;
  }
  
  .thumbnail {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }