html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.timeline {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  margin: 0px;
  padding: 0px;
  background-color: #222;
}

.timeline-track {
  height: 100vh;
  position: relative;
}

.timeline-line {
  width: 12px;
  background-color: white;
  min-height: 50vh;
  position: absolute;
  left: 30vw;
  border-radius: 12px;
}

.timeline-point {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  left: calc(30vw - 15px);
  background-color: white;
  transition: all 0.3s ease;
  border: 3px solid #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-point:hover {
  transform: scale(1.7);
}

.timeline-point-inner {
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-point-inner i {
  transition: all 0.75s ease;
  opacity: 0;
}

.timeline-point:hover .timeline-point-inner {
  transform: scale(2);
}

.timeline-point:hover .timeline-point-inner i {
  opacity: 1;
  transform: scale(0.8);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1000;
  color: white;
  background: rgba(0,0,0,0.5);
}

.calendar {
  width: 50vw;
  margin: 10vh auto;
  font-size: 4rem;
  font-family: sans-serif;
  display: flex;
  gap: 1rem;
  justify-content: center;
  
}

.calendar > div {
  color: black;
  background-color: white;
  padding: .75rem;
  border-radius: 1rem;
}

.overlay-options {
  display: flex;
  font-size: 10rem;
  width: 100vw;
  justify-content: center;
  gap: 4rem
}